
/* padrão de computador */

@media (max-width: 4096px){

    body{
        background-color: blue;
    }

    


}






/* padrão de celular */
@media (max-width: 720px){
   
body{
    background-color: red;
}

header img{
    margin-top: 20px;
    margin-left: 20px;
}
.direita{
    text-align: center;
}
.s1 img{
    border-radius: 50%;
    background-color: gainsboro;
    border: 2px solid blue;
}


}



