
/* padrão de computador */

@media (max-width: 4096px){

    body{
        background-color: blue;
    }

    


}






/* padrão de celular */
@media (max-width: 720px){
   
body{
    background-color: orange;
}

.logo{
    border-radius: 50%;
    outline: 3px solid rgb(203,203,219); 
    outline-offset: 1px; 
}

header img{
    margin-top: 20px;
    margin-left: 20px;
}
.direita{
    text-align: center;
}
.s1 img{
    border-radius: 50%;
    outline: 3px solid rgb(203,203,219); /*semeçhante a ua borda*/
    outline-offset: 1px; /*afastamento do outline*/
}

.s1 h1{
    font-size: 30px;
    font-weight: bold;
    color: white;
    padding: 30px 0px;
}


}



